.container-footer {
    background-color: #9dbdd1;
    display: flex;
    justify-content: center;
    height: 4rem;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.container-footer p {
    color: white;
    opacity: 60%;
    padding: 1.5rem;
}

@media (max-width: 900px){
    p{
        font-size: 8pt;
    }
}