.btn-submit {
    border-width: 0px;
    border-style: none;
    border-image: none;
    background-color: #4e6a82;
    font-weight: bold;
    color: white;
    border-radius: 7px;
    padding: 15px 20px;
    text-align: center;
    transition: all 0.3s;
}

.btn-submit:hover{
    background-color:#6789a7;
    cursor: pointer;
}

.btn-submit:active{
    position: center;
    top: 2px;
    transition: .2s;
}

.btn-submit-disabled {
    border-width: 0px;
    border-style: none;
    border-image: none;
    background-color: #F0F0F5;
    font-weight: bold;
    color: white;
    border-radius: 7px;
    padding: 15px 20px;
    text-align: center;
    transition: all 0.3s;
}

.btn-submit-disabled:hover{
    background-color:#d0d0d3;
    cursor: not-allowed;
}

.btn-submit-disabled:active{
    position: center;
    top: 2px;
    transition: .2s;
}