/* 
.main-btn{
    background-color: #44bd7a;
    font-weight: bold;
    color: white;
    border-radius: 7px;
    padding: .7rem;
    top: 0px;
    transition: .3s;
}
.main-btn:hover{
    background-color: #3da76d;
    transition: .3s;
    cursor: pointer;
}
.main-btn:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
   }
.main-btn:active{
    position: relative;
    top: 2px;
    transition: .2s;
}

button{
    border-width: 0px;
    border-style: none;
    border-image: none;
}  */

.container-home {
    width: 100vw;
    position: relative;
    height: 100vh
}

.container-home main {
    background-color: white;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}